<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appix</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <header class="header-container">
        <div class="left-section">
            <div class="logo-header"></div>
        </div>
        <div class="right-section">
            <a class="btn waves-effect waves-light blue" href="/nuevo-proyecto">Nuevo Proyecto</a>
        </div>
    </header>
    
    <div class="container">
        
    </div>
    <footer>
        <p>Derechos de autor © 2024 Empresa Appix. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
