<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appix</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/change-password.js"></script>
    <link rel="stylesheet" href="/css/change-password.css">
</head>
<body>
    <header>
        <div class="logo-header"></div>
        <h1 class="header-title">RISK-MANAGER</h1>
        <div class="button-container right">
            <button onclick="history.back()">Regresar</button>
        </div>
    </header>
    <div class="login-container">
        <h2>Cambiar Contraseña</h2>
        <form class="login-form" id="change-password-form" action="/admin/change-password" method="post">
            <div id="message"></div>
            <select id="username" name="username">
                <option value="" disabled selected>Selecciona el rol</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
            </select>
            <input type="password" name="newPassword" id="newPassword" placeholder="Nueva contraseña" required><br>
            <input type="password" name="confirmedPassword" id="confirmedPassword" placeholder="Confirmar contraseña" required><br>
            <input type="submit" value="Siguiente" class="login-button">
        </form>
    </div>
</div>
</body>
</html>