<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appix</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/change-password.css">
</head>
<body>
    <header>
        <div class="logo-header"></div>
    </header>
    <div class="login-container">
        <h2>Cambiar Contraseña</h2>
        <form class="login-form" action="/" method="post">
            <input type="password" name="nueva-contrasena" placeholder="Nueva contraseña" required><br>
            <input type="password" name="contrasena-confirmada" placeholder="Confirmar contraseña" required><br>
            <input type="submit" value="Siguiente" class="login-button">
        </form>
        <button onclick="history.back()">Regresar</button>
    </div>
    </div>
    <footer>
        <p>Derechos de autor © 2024 Empresa Appix. Todos los derechos reservados.</p>
    </footer>
</body>
</html>