<form action="/admin/nuevo-proyecto" method="POST">
    <script>
        let checkboxStatesRsg = {};
        let numberInputStatesRsg = {};
        let riskLvl = {};
    </script>
    <label for="nombreProyecto">Nombre del proyecto:</label>
    <input type="text" id="nombreProyecto" name="nombreProyecto" required>

    <div style="display: flex; justify-content: space-between;">
        <div style="width: 48%;">
            <label for="fechaInicio">Fecha de inicio:</label>
            <input type="date" id="fechaInicio" name="fechaInicio" required 
                   min="<?php echo date('Y-m-d'); ?>" onchange="setFechaFinalMin()">
        </div>
        <div style="width: 48%;">
            <label for="fechaFinal">Fecha de entrega:</label>
            <input type="date" id="fechaFinal" name="fechaFinal" required 
                   min="<?php echo date('Y-m-d'); ?>">
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const today = new Date().toISOString().split('T')[0];
            document.getElementById('fechaFinal').setAttribute('min', today);
        });
    
        function setFechaFinalMin() {
            const fechaInicio = document.getElementById('fechaInicio').value;
            document.getElementById('fechaFinal').setAttribute('min', fechaInicio);
        }
    </script>
    
    <div style="display: flex; justify-content: space-between;">
        <div style="width: 48%;">
            <label for="estatus">Estatus del proyecto:</label>
                <select id="estatus" name="estatus" class="new-risk-department browser-default" required>
                    <option value="" disabled selected>Seleccione un estatus</option>
                    <option value="En proceso">En proceso</option>
                    <option value="En planeacion">En planeacion</option>
                    <option value="En espera">En espera</option>
                    <option value="Atrasado">Atrasado</option>
                    <option value="Finalizado">Finalizado</option>
                </select>
            
        </div>
        <div style="width: 48%;">
            <label for="departamento">Departamento:</label>
            <select id="departamento" name="departamento" class="new-risk-department browser-default" required>
                <option value="" disabled selected>Seleccione un departamento</option>
                <option value="Desarrollo Web">Desarrollo web</option>
                <option value="Diseño Web">Diseño web</option>
            </select>
        </div>
    </div>           

    <label for="descripcionProyecto">Descripción:</label>
    <input type="text" id="descripcionProyecto" name="descripcionProyecto" maxlength="250" required> <!-- Cambiar name a "descripcion" -->
    
    <div class="char-count">
        <span id="current-count">0</span>/250 caracteres
    </div>
    
    <script>
        const descripcionInput = document.getElementById('descripcionProyecto');
        const currentCount = document.getElementById('current-count');

        descripcionInput.addEventListener('input', () => {
            currentCount.textContent = descripcionInput.value.length;
        });
    </script>

    <section id="cliente"></section>

        <h3 class="titulo-secciones">Clientes</h3>

    <label>Agrega el cliente encargado del proyecto:</label>

    <table style="width: 100%;">
        <tr>
            <td>
                <h4 class="comentarios-guia">Clientes existentes:</h4>
                <label>Recuerda recargar la tabla en caso de haber agregado más clientes:</label>
            </td>
            <td style="text-align: right;">
                <div id="refreshContainerClientes">
                    <button id="refreshButtonClientes" class="refreshButton" type="button"></button>
                </div>
                <span id="refreshTextClientes" class="refreshText">Actualiza</span>
            </td>
        </tr>
    </table>
    <div id="jsGridClientes" class="no-materialize-checkbox"></div>

    <div class="seccion-formulario">
        <table>
            <td>
                <h4 class="comentarios-guia">¿No encontraste un cliente?</h4>
            </td>
            <td>
                <button class="btn waves-effect waves-light buttonGreen" id="btnAgregarCliente" type="button" onclick="location.href='/admin/cliente-empresa'">Agregar nuevo cliente</button>
            </td>
        </table>
    </div>

    <div id="hiddenInputsClientList" style="display: none;"></div>

    <section id="empresa"></section>

        <h3 class="titulo-secciones">Empresas</h3>
 
    <label>Agrega una empresa a tu proyecto:</label>

    <table style="width: 100%;">
        <tr>
            <td>
                <h4 class="comentarios-guia">Empresas existentes:</h4>
                <label>Recuerda recargar la tabla en caso de haber agregado más empresas:</label>
            </td>
            <td style="text-align: right;">
                <div id="refreshContainerEmpresas">
                    <button id="refreshButtonEmpresas" class="refreshButton" type="button"></button>
                </div>
                <span id="refreshTextEmpresas" class="refreshText">Actualiza</span>
            </td>
        </tr>
    </table>
    <div id="jsGridEmpresas" class="no-materialize-checkbox"></div>

    <div class="seccion-formulario">
        <table>
            <td>
                <h4 class="comentarios-guia">¿No encontraste una empresa?</h4>
            </td>
            <td>
                <button class="btn waves-effect waves-light buttonGreen" id="btnAgregarEmpresa" type="button" onclick="location.href='/admin/cliente-empresa'">Agregar nueva empresa</button>
            </td>
        </table>
    </div>

    <div id="hiddenInputsEmpresaList" style="display: none;"></div>


    <section>
        <div class="new-risks">
            
            <h3 class="titulo-secciones">Riesgos</h3>

            <label>Agrega riesgos y su nivel de impacto en tu proyecto:</label>

            <table style="width: 100%;">
                <tr>
                    <td>
                        <h4 class="comentarios-guia">Riesgos existentes:</h4>
                        <label>Recuerda recargar la tabla en caso de haber agregado más riesgos:</label>
                    </td>
                    <td style="text-align: right;">
                        <div id="refreshContainerRiesgos">
                            <button id="refreshButtonRiesgos" class="refreshButton" type="button"></button>
                        </div>
                        <span id="refreshTextRiesgos" class="refreshText">Actualiza</span>
                    </td>
                </tr>
            </table>
            <div id="jsGridRsg" name="jsGridRsg" class="no-materialize-checkbox"></div>

            <div class="seccion-formulario">
            <table>
                <td>
                    <h4 class="comentarios-guia">¿No encontraste el riesgo?</h4>
                </td>
                <td>
                    <button class="btn waves-effect waves-light buttonGreen" id="btnAgregarRiesgo" type="button" onclick="location.href='/admin/riesgos'">Agregar nuevo riesgo</button></td>
                </td>                
            </table>
            </div>
        </div>
    </section>
    
    
    <section id="plan-de-accion"></section>

        <h3 class="titulo-secciones">Plan de acción</h3>
  
    <label>Agrega pendientes a tu plan de acción del proyecto:</label>

    <table style="width: 100%;">
        <tr>
            <td>
                <h4 class="comentarios-guia">Pendientes existentes:</h4>
                <label>Recuerda recargar la tabla en caso de haber agregado más pendientes:</label>
            </td>
            <td style="text-align: right;">
                <div id="refreshContainerAccion">
                    <button id="refreshButtonAccion" class="refreshButton" type="button"></button>
                </div>
                <span id="refreshTextAccion" class="refreshText">Actualiza</span>
            </td>
        </tr>
    </table>
    <div id="jsGridAcc" class="no-materialize-checkbox"></div>

    <div class="seccion-formulario">
    <table>
        <td>
            <h4 class="comentarios-guia">¿No encontraste un pendiente?</h4>
        </td>
        <td>
            <button class="btn waves-effect waves-light buttonGreen" id="btnAgregarPlanAccion" type="button" onclick="location.href='/admin/pendientes'">Agregar nuevo pendiente</button>
        </td>
    </table>
    </div>

    <div id="hiddenInputsAccionList" style="display: none;"></div>

    </section>

    <div id="hiddenInputsRiskList" style="display: none;"></div>

    <div class="button-container button-container-np" style="display: flex; justify-content: flex-end;">
        <button class="btn waves-effect waves-light buttonRed" id="btnCancelar" type="button" onclick="location.href='/admin/admin'">Cancelar</button>
        <button class="btn waves-effect waves-light buttonBlue" id="btnGuardar" type="submit" value="Guardar">Guardar</button>
    </div>

</form>