<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo proyecto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/nuevo-proyecto.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <header class="header">
        <div class="row">
            <div class="col s1">
                <div class="logo-header"></div>
            </div>
            <div class="col s2">
                <h1 class="header-title">NUEVO PROYECTO</h1>
            </div>
        </div>
    </header>
    <div class="container">
        <h2>Nuevo proyecto</h2>
        <form id="nuevo-proyecto-form">
            <%- include('formulario') %>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/funNewProject.js"></script>
</body>
</html>
