<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riesgos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://unpkg.com/jsgrid/dist/jsgrid.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/jsgrid/dist/jsgrid-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/newProject.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/jsgrid/dist/jsgrid.min.js"></script>
    <style>
        body {
            background-image: url('/images/fondoBlanco.png'); /* Asegúrate de que la ruta sea correcta */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
    </style>
</head>
<body>
    <header class="header">
        <div class="row">
            <div class="col s1">
                <div class="logo-header"></div>
            </div>
        </div>
    </header>
    <div class="container">
        <form action="/admin/riesgos/add" method="POST">
            <section>
                <div class="new-risks">
                    <h3 class="titulo-secciones">Riesgos</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Nuevo riesgo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" name="nuevoNombre" id="nuevo-nombre" class="new-risk-Nuevoriesgo" required></td>
                                <td><button class="waves-effect waves-light btn button" type="submit">Agregar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="jsGridRsg" class="no-materialize-checkbox"></div> <!-- Contenedor para Grid.js -->
            </section>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const riesgosTable = <%- riesgosTable %>; 
            console.log('riesgos table:', riesgosTable);

            $("#jsGridRsg").jsGrid({
                height: "400px",
                width: "100%",
                sorting: true,
                filtering: true,
                editing: true,
                paging: true,
                pageSize: 10,
                pageButtonCount: 5, 
                deleteConfirm: "Si continuas, este riesgo será eliminado de todos los proyectos, ¿Está seguro de que desea eliminar este riesgo?",

                data: riesgosTable,
                controller: {
                    loadData: function(filter) {
                        return $.grep(riesgosTable, function(eachData) {
                            return (!filter.descripcionRiesgo || eachData.descripcionRiesgo.indexOf(filter.descripcionRiesgo) > -1);
                        });
                    },
                    updateItem: function(item) {
                        console.log("Datos que se envían para actualización:", item);
                        return $.ajax({
                            type: "POST",
                            url: "/admin/riesgos/update-riesgo",
                            contentType: "application/json",
                            data: JSON.stringify({
                                idRiesgo: item.idRiesgo,
                                descripcionRiesgo: item.descripcionRiesgo
                            }),
                            dataType: "json"
                        }).done(function(response) {
                            console.log("Respuesta del servidor:", response);
                            var updatedItem = response.riesgo;
                            var itemIndex = riesgosTable.findIndex(data => data.idRiesgo === updatedItem.idRiesgo);
                            if (itemIndex !== -1) {
                                riesgosTable[itemIndex] = updatedItem;
                            }
                            $("#jsGridRsg").jsGrid("loadData"); 
                        }).fail(function(jqXHR, textStatus, errorThrown) {
                            console.error("Error en la solicitud AJAX:", textStatus, errorThrown);
                        });
                    },
                    deleteItem: function(item) {
                        console.log('Eliminandoooooo');
                        return $.ajax({
                            type: "POST",
                            url: "/admin/riesgos/delete-riesgo",
                            data: item
                        });
                    }
                },
                fields: [
                    { name: "idRiesgo", type: "hidden", css: "hide" },
                    { name: "descripcionRiesgo", type: "text", title: "Descripción", width: 150 },
                    { type: "control" }
                ]
            });

            // Add keyup event handler to filter inputs
            $(".jsgrid-filter-row input").on("keyup", function() {
                $("#jsGridRsg").jsGrid("loadData");
            });
        });
    </script>
</body>
</html>

