body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/fondoBlanco.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #004586;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 52px;
}

.header-title {
    font-size: 24px; /* Tamaño de fuente del título */
    margin: 0; /* Elimina el margen por defecto del H1 */
    width: 100%;
    font-weight: lighter;
}

.logo-header {
    width: 70px; /* Ajusta esto al tamaño de tu logo */
    height: 70px; /* Ajusta esto al tamaño de tu logo */
    background-image: url('/images/logo-appix-blanco.png'); 
    background-size: contain; /* Asegura que el logo se ajuste dentro de las dimensiones */
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px; /* Espacio entre el logo y el texto */
}

.button-container {
    margin: 10px;
}

button{
    background:rgb(49, 131, 214);
    color:#fff;
    border:none;
    position:relative;
    right: 18%;
    height:35px;
    width: 130px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:rgb(49, 131, 214);
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(49, 131, 214);
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

.login-container {
    margin-top: 100px;
    text-align: center;
    width: 70%;
    align-self: center;
    position: relative;
    padding-bottom: 50px;
}

.login-form {
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"], 
.login-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: medium;
}

.login-form input[type="submit"] {
    background-color: #005fa3;
    color: #fff;
    cursor: pointer;
}

.login-button {
    width: 100%;  /* Opcional: Ajusta el ancho según necesites */
    padding: 10px 0;  /* Ajusta el padding para que sea más clickeable */
}

.login-button:hover {
    opacity: 0.8;
}

#message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Ocultar el mensaje inicialmente */
}

#message.success {
    color: green;
    background-color: #e0f7e0;
    border: 1px solid green;
}

#message.error {
    color: red;
    background-color: #f7e0e0;
    border: 1px solid red;
}
