body {
    font-family: Arial, sans-serif;
    background-image: url('/images/fondoBlanco.png'); 
    background-size: cover;
    margin: 0;
    padding: 0;
}

canvas {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
}

header {
    background-color: #004586;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.header-title {
    font-size: 24px; /* Tamaño de fuente del título */
    margin: 0; /* Elimina el margen por defecto del H1 */
    width: 100%;
}

.logo-header {
    width: 70px; /* Ajusta esto al tamaño de tu logo */
    height: 70px; /* Ajusta esto al tamaño de tu logo */
    background-image: url('/images/logo-appix-blanco.png'); 
    background-size: contain; /* Asegura que el logo se ajuste dentro de las dimensiones */
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px; /* Espacio entre el logo y el texto */
}

.container {
    width: 70%;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.title {
    background-color: #00508F;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    height: 45px;
}

.content {
    padding: 30px;
}

.content h2 {
    color: #00508F;
    margin-top: 0;
    font-size: 40px;
}

.content h3 {
    margin-top: 0;
    font-size: 30px;
}

.left {
    float: left;
    width: 30%;
}

.rightt {
    float: right;
    width: 70%;
    height: 450px;
    overflow: scroll;
}

.clearfix {
    clear: both;
}

.info {
    margin-bottom: 30px;
}

.info div {
    display: flex;
    flex-direction: row;
    margin-bottom: 9px;
}

.chart {
    width: 100%;
    height: 200px;
    text-align: center; /* Centrar el contenido */
}

.percentage-label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.status {
    background-color: #00508F;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 5px;
}

.button-container {
    margin: 10px;
}

button{
    background:rgb(49, 131, 214);
    color:#fff;
    border:none;
    position:relative;
    height:35px;
    width: 130px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:rgb(49, 131, 214);
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(49, 131, 214);
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .custom-checkbox-label {
    color: black; /* Cambiar a tu color preferido */
}

.buttonBlue{
    color: black;
    border:none;
    position:relative;
    height:35px;
    width: 130px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .buttonBlue:hover{
    background:#fff;
    color:rgb(49, 131, 214);
  }
  .buttonBlue:before,.buttonBlue:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(49, 131, 214);
    transition:400ms ease all;
  }
  .buttonBlue:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .buttonBlue:hover:before,.buttonBlue:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .custom-checkbox-label {
    color: black; /* Cambiar a tu color preferido */
}

.buttonRed{
    color: black;
    border:none;
    position:relative;
    height:35px;
    width: 130px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .buttonRed:hover{
    background:#fff;
    color:rgb(176, 14, 14);
  }
  .buttonRed:before,.buttonRed:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(176, 14, 14);
    transition:400ms ease all;
  }
  .buttonRed:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .buttonRed:hover:before,.buttonRed:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .custom-checkbox-label {
    color: black; /* Cambiar a tu color preferido */
}


.strong {
    font-weight: bold;
    margin-right: 5px;
}

.icons {
    height: 45px;
    width: 112px;
    padding-left: 10px;
    padding-top: 6px;
    color: #fff;
}

.icon-edit:hover {
    color: black;
}

.icon-copy:hover {
    color: black;
}

.icon-delete:hover {
    color: black;
}

.icon-error {
    display: flex;
    padding-left: 15px;
    color: rgb(205, 73, 73);;
    border-top: 2px solid #ccc;
    align-items: center;
}

.icon-error h3 {
    color: black;
    padding-right: 10px;
    padding-top: 10px;
}

.modal-content h4{
    color: black;
}

.modal-content p{
    color: black;
}
