/* Estilos generales */


h2 {
    text-align: center;
    font-size: 4em; /* Letras más grandes */
    color: #007bff; /* Color azul */
    text-transform: uppercase;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Estilo de fuente */
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 450px;
    height: 3px; /* Grosor de la línea */
    background-color: #ccc; /* Color de la línea gris claro */
    position: absolute;
    bottom: -10px; /* Distancia desde el título */
    left: 50%;
    transform: translateX(-50%);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/fondoBlanco.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    background-color: #00508F; /* Color de fondo azul */
    color: #fff;
    height: 70px;
}

.logo-header {
    width: 70px; /* Ajusta esto al tamaño de tu logo */
    height: 70px; /* Ajusta esto al tamaño de tu logo */
    background-image: url('/images/logo-appix-blanco.png'); 
    background-size: contain; /* Asegura que el logo se ajuste dentro de las dimensiones */
    margin-bottom: 20px;
}

.header-title {
    display: flex;
    font-size: 24px; /* Tamaño de fuente del título */
    margin: 0; /* Elimina el margen por defecto del H1 */
    height: 70px;
    align-items: center;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #f2f2f2; /* Color de fondo blanco */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
    padding: 20px;
}

.form-container label {
    font-weight: bold;
}

.risk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.button-container-np{
    margin-bottom: 10px;
}

.cancel-button {
    background-color: #f44336; /* Color rojo */
    width: 30%;
    margin-left: 15px;
}

.save-button {
    background-color: #00df07; /* Color verde */
    width: 30%;
}

.input-group {
    display: flex;
    align-items: center;
}

#plan-accion {
    flex: 1;
    margin-right: 10px;
}

#agregar-plan-btn {
    padding: 8px 12px;
    font-size: 14px;
    width: 100px;
    display: flex; /* Usar flexbox */
    align-items: center; /* Centrar verticalmente el botón */
    justify-content: center; /* Centrar horizontalmente el botón */
}

.enumerated-list {
    list-style-type: none; /* Quita los números predeterminados */
    counter-reset: plan; /* Resetea el contador */
    padding-left: 0; /* Elimina el espacio en blanco predeterminado */
}

.enumerated-list li::before {
    content: counter(plan) ". "; /* Agrega el contador */
    counter-increment: plan; /* Incrementa el contador */
    font-weight: bold; /* Hace que el número sea negrita */
    color: #000000; /* Color del número */
    margin-right: 5px; /* Espacio entre el número y el texto */
}

.eliminar-plan-btn {
    background-color: #ffffff;
    border: none; /* Quita el borde del botón */
    padding: 0; /* Elimina el relleno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    background-image: url('/images/trash2.png'); /* Agrega la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen */
    width: 20px; /* Ajusta el ancho del botón */
    height: 20px; /* Ajusta la altura del botón */
    margin-left: 10px;
}

.eliminar-plan-btn:hover img {
    filter: brightness(80%); /* Reduce el brillo de la imagen al pasar el mouse sobre el botón */
}

.divider {
    border-top: 1px solid #ccc; /* Línea divisoria gris */
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
}

.titulo-secciones {
    color: #4fa4ff; /* Color del título del plan de acción */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Estilo de fuente */
    font-size: 2em;
}

.titulo-listado {
    color: #000000; /* Color del título del plan de acción */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Estilo de fuente */
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 0;
}

.button-centered {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    margin: 0;
}

.button{
    background:rgb(38,166,154);
    color:#fff;
    border:none;
    position:relative;
    height:35px;
    width: 100%;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .button:hover{
    background:#fff;
    color:rgb(49, 131, 214);
  }
  .button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(49, 131, 214);
    transition:400ms ease all;
  }
  .button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button:hover:before,.button:hover:after{
    width:100%;
    transition:800ms ease all;
  }