:root {
    --color-back-azul: #1976d2; 
    --color-riesgo-alto: rgba(181, 28, 28, 0.934); 
    --color-info-alto: rgb(224, 39, 39);
    --color-riesgo-moderado: rgb(255, 193, 7); 
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/fondoBlanco.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    background-color: var(--color-back-azul); /* Color de fondo azul */
    color: #fff;
    padding: 10px;
    align-items: center; /* Centra verticalmente los elementos */
}

.logo-header {
    width: 70px; /* Ajusta esto al tamaño de tu logo */
    height: 70px; /* Ajusta esto al tamaño de tu logo */
    background-image: url('/images/logo-appix-blanco.png'); 
    background-size: contain; /* Asegura que el logo se ajuste dentro de las dimensiones */
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px; /* Espacio entre el logo y el título */
}

.header-title {
    font-size: 24px; /* Tamaño de fuente del título */
    margin: 0; /* Elimina el margen por defecto del H1 */
}

.row {
    display: flex;
    margin: 0;
    width: 100%;
}

.post-it {
    height: 440px;
    background-color: #fff; /* Color de fondo blanco */
    margin: 20px; /* Espacio entre los post-its */
    border-radius: 10px;
    transition: transform 0.3s ease;
    border: 1px solid #ccc;
    overflow: hidden;
    justify-content: right;
}

.post-it h2 {
    font-size: 15px;
    margin: 0;
    margin-left: 5px;
    font-weight: bold;
}

.post-it h3{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.post-it p {
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
}

.post-it:hover {
    transform: translateY(-5px);
}

.post-it-header {
    display: flex;
    background-color: var(--color-riesgo-alto); 
    color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    justify-content: left;
    align-items: center;
    margin: 0;
}

.post-it-info {
    position: relative;
    width: 125%;
    height: 106%;
    margin: 0;
    background-color: var(--color-info-alto);
    color: #fff;
    text-align: center;
}

.post-it-cont {
    height: 340px;
    width: 100%;
    margin: 0;
    overflow: scroll;
    margin-left: 10px;
    text-align:justify;
}

.myPieChart {
    width: 20px; /* Ancho más pequeño */
    height: 20px; /* Altura más pequeña */
    margin: 0;
}

.expand-button {
    background-color: rgb(198, 35, 35);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 12px;
    cursor: pointer;
}

.post-it-footer {
    display: flex;
    background-color: var(--color-riesgo-alto);
    color: #fff;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

footer {
    background-color: var(--color-back-azul);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position:fixed;
    bottom: 0;
    width: 100%;
}