:root {
    --color-back-azul: #00508F; 
    --color-rojo: rgb(176, 14, 14); 
    --color-info-rojo: rgb(205, 73, 73);
    --color-amarillo: rgb(226, 173, 14); 
    --color-info-amarillo: rgb(215, 171, 40);
    --color-info-azul: rgb(49, 131, 214); 
    --color-negro: rgba(0, 0, 0, 0.947); 
    --color-info-negro: rgba(0, 0, 0, 0.836); 
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.con {
    width: 100%;
    height: 90vh;
    overflow: scroll;
    background-image: url('/images/fondoBlanco.png'); 
    background-size: cover;
    background-position: center;
}

.header {
    display: flex;
    background-color: var(--color-back-azul); /* Color de fondo azul */
    color: #fff;
    padding: 10px;
    align-items: center; /* Centra verticalmente los elementos */
}

.logo-header {
    width: 70px; /* Ajusta esto al tamaño de tu logo */
    height: 70px; /* Ajusta esto al tamaño de tu logo */
    background-image: url('/images/logo-appix-blanco.png'); 
    background-size: contain; /* Asegura que el logo se ajuste dentro de las dimensiones */
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px; /* Espacio entre el logo y el título */
}

.header-title {
    font-size: 24px; /* Tamaño de fuente del título */
    margin: 0; /* Elimina el margen por defecto del H1 */
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.post-it {
    display: flex;
    flex-direction: column;
    width: 450;
    height: 250px;
    background-color: #fff; /* Color de fondo blanco */
    margin: 20px; /* Espacio entre los post-its */
    border-radius: 10px 10px 10px 0;
    transition: transform 0.3s ease;
    border: 1px solid #ccc;
    overflow: hidden;
}

.post-it h1 {
    font-size: 50px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
}


.post-it h2 {
    font-size: 15px;
    margin: 0;
    margin-left: 5px;
    font-weight: bold;
}

.post-it h3{
    font-size: 14px;
    margin: 0;
    padding: 10px;
}

.post-it:hover {
    transform: translateY(-5px);
}

.post-it-header {
    display: flex;
    color: #fff;
    height: 45px;
    width: 336px;
    border-radius: 10px 0 0 0;
    justify-content: left;
    align-items: center;
    text-align: center;
    margin: 0;
}

.post-it-header-rojo {
    background-color: var(--color-rojo); 
}

.post-it-header-amarillo {
    background-color: var(--color-amarillo); 
}

.post-it-header-azul {
    background-color: var(--color-back-azul); 
}

.post-it-header-negro {
    background-color: var(--color-negro); 
}


.post-it-dates {
    display: flex;
    flex-direction: column;
    width: 112px;
    height: 250px;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 0 0;
}

.post-it-dates-rojo {
    background-color: var(--color-info-rojo);
}

.post-it-dates-amarillo {
    background-color: var(--color-info-amarillo);
}

.post-it-dates-azul {
    background-color: var(--color-info-azul);
}

.post-it-dates-negro {
    background-color: var(--color-info-negro);
}

.post-it-risk {
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 336px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

.post-it-risk-rojo {
    color: var(--color-info-rojo);
}

.post-it-risk-amarillo {
    color: var(--color-info-amarillo);
}

.post-it-risk-azul {
    color: var(--color-info-azul);
}

.post-it-risk-negro {
    color: var(--color-info-negro);
}

.post-it-status {
    display: flex;
    height: 40px;
    width: 336px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 5px;
}

footer {
    display: flex;
    background-color: var(--color-back-azul);
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    align-items: center;
}

.footer1 {
    display: flex;
    align-items: center;
    height: 50px;
}

button{
    background:rgb(49, 131, 214);
    color:#fff;
    border:none;
    position:relative;
    height:35px;
    width: 130px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:rgb(49, 131, 214);
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(49, 131, 214);
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

