<header>
    <div class="logo-header"></div>
    <h1 class="header-title">RISK MANAGER</h1>
    <div class="button-container right">
        <button onclick="history.back()">Regresar</button>
    </div>
</header>