<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appix</title>
    <link rel="stylesheet" href="/css/usuario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <header>
        <div class="logo-header"></div>
    </header>
    <div class="row">
        <div class="col s4">
            <div class="post-it">
                <div class="post-it-header">
                    <h2>Proyecto 2</h2>
                </div>
                <div class="post-it-info">
                    <div class="row">
                        <div class="col s2">
                            <h3>Empresa:</h3>
                        </div>
                        <div class="col s5">
                            <h3>ABC-empresa</h3>
                        </div>
                        <div class="col s2">
                            <h3>Deadline:</h3>
                        </div>
                        <div class="col s3">
                            <h3>12/dec/2024</h3>
                        </div>
                    </div>
                </div>
                <div class="post-it-desc">
                    <p> En todo este espacio se piensa emplear una descripcion detallada
                        del proyecto en cuestion. Es importante ver que sucede cuando la 
                        extension de este texto es mas grande que el esapcio designado, 
                        igualmente estara limitado en la base de datos. Me parece que el
                        limite de caracteres para esta descripcion son 500, por lo tanto 
                        quiero llegar a ellos. Ya solo me faltan poquitos.
                    </p>
                </div>
                <div class="post-it-pend">
                    <h3>Pendientes: </h3>
                    <p> - Realizar las actividades pendientes del proyecto 2 <br>
                        - Escribir actividades pendientes en esta seccion
                        - Realizar las actividades pendientes del proyecto 2 <br>
                        - Escribir actividades pendientes en esta seccion
                        - Realizar las actividades pendientes del proyecto 2 <br>
                        - Escribir actividades pendientes en esta seccion
                        - Realizar las actividades pendientes del proyecto 2 <br>
                        - Escribir actividades pendientes en esta seccion
                        - Realizar las actividades pendientes del proyecto 2 <br>
                        - Escribir actividades pendientes en esta seccion
                        - Realizar las actividades pendientes del proyecto 2 <br>
                        - Escribir actividades pendientes en esta seccion
                        - Realizar las actividades pendientes del proyecto 2 <br>
                        - Escribir actividades pendientes en esta seccion
                        - Realizar las actividades pendientes del proyecto 2 <br>
                        - Escribir actividades pendientes en esta seccion
                    </p>
                </div>
                <div class="risk">
                    <div class="risk-left">
                        <button class="expand-button">Ver más</button>
                    </div>
                    <div class="risk-right">
                        Riesgo: 20%
                    </div>
                </div>
                <div class="post-it-footer">
                    <h2> En proceso </h2>
                </div>
            </div>
            <div class="post-it">
                <div class="post-it-header">
                    <h2>Proyecto 2</h2>
                </div>
                <div class="post-it-info">
                    <div class="row">
                        <div class="col s2">
                            <h3>Empresa:</h3>
                        </div>
                        <div class="col s5">
                            <h3>ABC-empresa</h3>
                        </div>
                        <div class="col s2">
                            <h3>Deadline:</h3>
                        </div>
                        <div class="col s3">
                            <h3>12/dec/2024</h3>
                        </div>
                    </div>
                </div>
                <div class="post-it-desc">
                    <p> En todo este espacio se piensa emplear una descripcion detallada
                        del proyecto en cuestion. Es importante ver que sucede cuando la 
                        extension de este texto es mas grande que el esapcio designado, 
                        igualmente estara limitado en la base de datos. Me parece que el
                        limite de caracteres para esta descripcion son 500, por lo tanto 
                        quiero llegar a ellos. Ya solo me faltan poquitos.
                    </p>
                </div>
                <div class="post-it-pend">
                    <h3>Pendientes: </h3>
                    <p> - Realizar las actividades pendientes del proyecto 2 <br>
                        - Escribir actividades pendientes en esta seccion
                    </p>
                </div>
                <div class="risk">
                    <div class="risk-left">
                        <button class="expand-button">Ver más</button>
                    </div>
                    <div class="risk-right">
                        Riesgo: 20%
                    </div>
                </div>
                <div class="post-it-footer">
                    <h2> En planeacion </h2>
                </div>
            </div>
        </div>
        <div class="col s4">
        </div>
        <div class="col s4">
        </div>
      </div>
    <footer>
        <p>Derechos de autor © 2024 Empresa Appix. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
