<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appix</title>
    <link rel="stylesheet" href="/css/usuario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <script src="/js/globalData.js"></script>
    <header class="header">
        <div class="logo-header"></div>
        <h1 class="header-title">RISK-MANAGER</h1>
    </header>
    <div class="row">
        <div class="col s4">
            <div class="post-it">
                <div class="post-it-header">
                    <script src="/js/userColorHeaderFooterController.js"></script>
                    <h2>Aplicación de publicidad web para productos de ferreteria</h2>
                </div>
                <div class="row">
                    <div class="col s9">
                        <div class="post-it-cont">
                            <p> 
                                <br> En todo este espacio se piensa emplear una descripcion detallada
                                del proyecto en cuestion. Es importante ver que sucede cuando la 
                                extension de este texto es mas grande que el esapcio designado, 
                                igualmente estara limitado en la base de datos. Me parece que el
                                limite de caracteres para esta descripcion son 500, por lo tanto 
                                quiero llegar a ellos. Ya solo me faltan poquitos.
                            </p>
                            <p><br></p>
                            <canvas id="myPieChart"></canvas>
                            <script src="/js/userPieController.js"></script>
                            <p><br></p>
                            <h3>Pendientes: </h3>
                            <p><br></p>
                            <p> - Realizar las actividades pendientes del proyecto 2 <br>
                                - Escribir actividades pendientes en esta seccion
                            </p>
                            <p><br></p>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="post-it-info">
                            <script src="/js/userColorInfoController.js"></script>
                            <p><br></p>
                            <h3>Empresa</h3>
                            <p>FRAGUA</p>
                            <p><br></p>
                            <h3>Encargado</h3>
                            <p>Imanol Muniz Ramirez</p>
                            <p><br></p>
                            <h3>Inicio</h3>
                            <p>01/01/12</p>
                            <p><br></p>
                            <h3>Deadline</h3>
                            <p>12/12/12</p>
                            <p><br></p>
                            <h3>Departamento</h3>
                            <p>Desarrollo</p>
                        </div>
                    </div>
                </div>
                <div class="post-it-footer">
                    <h2> En proceso </h2>
                </div>
            </div>
        </div>
        <div class="col s4">
        </div>
        <div class="col s4">
        </div>
      </div>
    <footer>
        <p>Derechos de autor © 2024 Empresa Appix. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
