<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appix</title>
    <link rel="stylesheet" href="/css/usuario.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="con">
        <header class="header">
            <div class="logo-header"></div>
            <h1 class="header-title">RISK-MANAGER</h1>
        </header>
        <div class="row">
            <% for (let i = 0; i <= numberP; i++) { %>
            <div class="col s4">
                <% if (risk[i].porcentajeRiesgo > 88) { %>
                <div class="post-it">
                    <div class="row">
                        <div class="col s9">
                            <div class="post-it-header post-it-header-rojo">
                                <h2>Aplicación de publicidad web para productos de ferreteria</h2>
                            </div>
                            <div class="post-it-risk post-it-risk-rojo">
                                <h1><%= risk[i].porcentajeRiesgo %>%</h1>
                                <h3>Porcentaje de riesgo</h3>
                            </div>
                            <div class="post-it-status">
                                <h3>En proceso</h3>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="post-it-dates post-it-dates-rojo">
                                <h2>Inicio</h2>
                                <h3>12/12/12</h3>
                                <p><br></p>
                                <h2>Final</h2>
                                <h3>12/12/12</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <% } else if (risk[i].porcentajeRiesgo > 60) { %>
                <div class="post-it">
                    <div class="row">
                        <div class="col s9">
                            <div class="post-it-header post-it-header-amarillo">
                                <h2>Aplicación de publicidad web para productos de ferreteria</h2>
                            </div>
                            <div class="post-it-risk post-it-risk-amarillo">
                                <h1><%= risk[i].porcentajeRiesgo %>%</h1>
                                <h3>Porcentaje de riesgo</h3>
                            </div>
                            <div class="post-it-status">
                                <h3>En proceso</h3>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="post-it-dates post-it-dates-amarillo">
                                <h2>Inicio</h2>
                                <h3>12/12/12</h3>
                                <p><br></p>
                                <h2>Final</h2>
                                <h3>12/12/12</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <% } else if (risk[i].porcentajeRiesgo > 0) { %>
                    <div class="post-it">
                        <div class="row">
                            <div class="col s9">
                                <div class="post-it-header post-it-header-azul">
                                    <h2>Aplicación de publicidad web para productos de ferreteria</h2>
                                </div>
                                <div class="post-it-risk post-it-risk-azul">
                                    <h1><%= risk[i].porcentajeRiesgo %>%</h1>
                                    <h3>Porcentaje de riesgo</h3>
                                </div>
                                <div class="post-it-status">
                                    <h3>En proceso</h3>
                                </div>
                            </div>
                            <div class="col s3">
                                <div class="post-it-dates post-it-dates-azul">
                                    <h2>Inicio</h2>
                                    <h3>12/12/12</h3>
                                    <p><br></p>
                                    <h2>Final</h2>
                                    <h3>12/12/12</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } else { %>   
                    <div class="post-it">
                        <div class="row">
                            <div class="col s9">
                                <div class="post-it-header post-it-header-negro">
                                    <h2>Aplicación de publicidad web para productos de ferreteria</h2>
                                </div>
                                <div class="post-it-risk post-it-risk-negro">
                                    <h1><%= risk[i].porcentajeRiesgo %>%</h1>
                                    <h3>Porcentaje de riesgo</h3>
                                </div>
                                <div class="post-it-status">
                                    <h3>En proceso</h3>
                                </div>
                            </div>
                            <div class="col s3">
                                <div class="post-it-dates post-it-dates-negro ">
                                    <h2>Inicio</h2>
                                    <h3>12/12/12</h3>
                                    <p><br></p>
                                    <h2>Final</h2>
                                    <h3>12/12/12</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <% } %>
        </div>
</body>
<footer> 
    <div class="row">
        <div class="col s4"></div>
        <div class="col s5"><div class="footer1">Derechos de autor © 2024 Empresa Appix. Todos los derechos reservados.</div></div>
        <div class="col s2"></div>
        <div class="col s1"><div class="footer1"><button>Cerrar Sesión</button></div></div>
    </div>
</footer>
</html>
